
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nanum+Gothic&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* index.html */

/* font setup */

html, body{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Iropke Batang', serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Lato', sans-serif;
}

.clearfix:after{
  content:"";
  display: block;
  clear: both;
}
/* header시작 */
header.headerWrap{
  width: 100%!important;
  height: 200px;
  position: fixed;
  z-index: 999;
  padding-top: 85px;
  box-sizing: border-box;
}
div.headerInner{
  width: 1200px;
  height: 200px;
  margin:0px auto;
  position: relative;
  text-align: center;
}
h1.logo{
  width: 126px;
  height: 47px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  z-index: 99;
  /* padding-bottom: 60px; */
  
}


/* nav */

nav.gnb{
  height: 90px;
  text-align: center;
}
nav.gnb > ul{
  height: 100%;
  font-size: 0px;
  
}
nav.gnb > ul.mainMenu > li{
  display: inline-block;
  height: 100%;
  padding: 0px 40px;
  position: relative;
  z-index: 999;
}
nav.gnb > ul.mainMenu > li > a{
  display: block;
  width: 100%;
  height: 100%;
  font: bold 18px 'Noto Sans KR';
  line-height: 90px;
  
}
ul.subMenu{
  position: absolute;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 100%;
}
ul.subMenu li{
  width: 100%;
}
ul.subMenu li a{
  display: block;
  font: bold 16px 'Noto Sans KR';
}
nav.gnb > ul.mainMenu > li:after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #222222;
  position: relative;
  top: -6px;
  left: 0;
  transition:  all 0.3s;
  margin: 0 auto; /*가운데서부터 시작하라!!!*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}


nav.gnb ul.subMenu{
  position: absolute;
  top: 90px; 
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  padding-top: 10px;
  box-sizing: border-box;
  line-height: 40px;
  display: none; /*스크립트 들어갈 때 해제하고 사용 */
}
nav.gnb ul.subMenu >li{
  height: 40px;
}
nav.gnb ul.subMenu >li:hover > a{
 
  text-decoration: underline;
 
}


nav.gnb ul.subMenu >li > a{
  display: block;
  color: rgb(85, 85, 85);
  font: normal 16px 'NotoSans';
  line-height: 100%;
}
div.mainBg{
  width : 100%;
  height : 500px;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 98;
  background-color: #ffffff;
}



/* headerScroll event*/
header.headerWrap.on{
  width: 100%;
  height: 91px;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  padding: 0px;
}
header.headerWrap.on div.headerInner{
  height: 91px;
  width: 100%;
}
header.headerWrap.on h1.logo{
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}
header.headerWrap.on h1.logo img.pc{
  display: none;
}
header.headerWrap.on h1.logo img.pc2{
  display: block;
}
h1.logo.on img.pc{
  display: none;
}
h1.logo.on img.pc2{
  display: block;
}

nav.gnb > ul.mainMenu > li:hover:after{
  width: 100%;
}
nav.gnb > ul.mainMenu > li:hover > a{
  color: #222222;
}

 nav.gnb > ul.mainMenu > li > a.on{
  color: #222222;
}
 nav.gnb ul.mainMenu > li > a{
  color: #ffffff
}

header.headerWrap.on nav.gnb ul.mainMenu > li > a{
   color: #222222
}

nav.gnb ul.subMenu >li.on > a{
  text-decoration: underline;
}

/*mobileNav*/

nav.mobileNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 60px;
  box-sizing: border-box;
  display: none;
}
nav.mobileNav > ul{
  width: 100%;
  height: 100%;
  padding-left: 50px;
}
nav.mobileNav > ul >li {
  margin-bottom: 100px;
  position: relative;
}
nav.mobileNav > ul >li >a{
  display: inline-block; /*자기 영역만큼만 가질 수 있도록*/
  /* padding-left: 40px; */
  box-sizing: border-box;
  font-family:  'Roboto';
  font-weight: bold;
  position: relative;
}
nav.mobileNav > ul >li > a:after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #222222;
  position: relative;
  top: 6px;
  margin: 0 auto; /*가운데부터 없애기*/
  transition: 0.3s;
}
/* nav.mobileNav > ul >li >a:hover{
  color: #f6ca00;
} */
/* nav.mobileNav > ul >li.on >a{
  color: #f6ca00;
} */
nav.mobileNav > ul >li.on >a:after{
  width: 100%;
}
nav.mobileNav .mobilesubMenu{
  width: 100%;
  padding: 35px 0px;
  background-color: #fff;
  box-sizing: border-box;
}
ul.mobilemainMenu > li{
  /* float: left;  */
  position: absolute;
  top: 100px;
  text-align: left;
  width: 100%;
}
nav.mobileNav .mobilesubMenu > li{
  margin-bottom: 20px;
  
}
nav.mobileNav .mobilesubMenu > li:last-child{
  margin-bottom: 0px;
}
nav.mobileNav .mobilesubMenu > li > a{
  font: normal 14px 'NotoSans';
  color: #666666;
}

/*mobilebtn*/
div.mobileBtn{
  width: 25px;
  height: 90px;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9999; 
  display: none;
}

div.mobileBtn > a{
  display: block;
  width: 100%;
  height: 34px; 
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
div.mobileBtn > a > span{
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  position: absolute;
  left: 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
span.line01{
  top: 0px;
}
span.line02{
  top: 9px;
}
span.line03{
  top: 17px;
}

/* mobileBtn animation */
span.line01.on{
  background-color: #333;
  top: 9px;
}
span.line02.on{
  background-color: #333;
  /*width값으로 길이 조절하게 되면 기본적으로 left0 을 기준으로 줄어들게 된다.*/
  transform: scaleX(0);
}
span.line03.on{
  background-color: #333;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  top: 9px;
}
div.mobileBtn a.on{
  transform: rotate(45deg);
}

/* banner Video*/

div#bannerVideo{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0px auto;
  position: relative;

}
div#bannerVideo video{
  width: 100%;
  display: block;
}
div.videoTitle{
  position: absolute;
   width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

p.videoText{
  font:  normal 36px/60px 'Iropke Batang';
  color: #ffffff;
}
span.videoText2{
  text-align: center;
  font:  normal 18px 'Noto Sans KR';
  color: #ffffff;
}



/* content01Wrap */

div.content01Wrap{
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
}
div.content01Inner{
  width: 1024px;
  margin: 0 auto;
}
div.content01Inner > div{
  width: 41.99%;
  float: left;
  /* background-color: blue; */
  position: relative;
  z-index: 99;
}
div.content01Inner h3.title{
  color: #222222;
  font: normal 32px/45px 'Iropke Batang';
  margin-bottom: 30px;
}
div.content01Inner p.titleContent{
  font: normal 18px/27px 'Noto Sans KR';
  margin-bottom: 3.9%;
  color: #666666;
}
div.content01Inner span.arrowBtn{
  width: 94px;
  height: 18px;
  text-indent: -9999px;
  display: block;
  background: url(../images/main_arrowicon_01.png) no-repeat center;
  margin-bottom: 30px;
}

h2.titleBox{
  color: #222222;
  width: 100%;
  font: normal 40px 'Noto Sans KR';
  text-align: center;
  margin-bottom: 80px;
}
.contentBox1{
  margin-right: 9.5%;
  
}

.contentBox1 div.contentBox1_img{
  width: 100%;
  height: 560px;
  background: url(../images/main_visual_02.png) no-repeat center;
  position: relative;
}

.contentBox1 div.contentBox1_img:after{
  content: '';
  position: absolute;
  width: 174px;
  height: 560px;
  background: url(../images/eucalyptus1.png) no-repeat center;
  display: block;
  transform: translateX(-100%);
}
div.contentBox1_img p{
  position: absolute;
  top: 0px;
  left: -90px;
  font: normal 15px 'yg-jalnan';
  font-weight: bold;
  color: #d0cfcc;
  transform: rotate(270deg) translateX(-40%) ;

}
.contentBox2 div.contentBox2_img{
  width: 100%;
  height: 560px;
  background: url(../images/main_visual_01.png) no-repeat center;
  position: relative;
  margin-bottom: 45px;

}
.contentBox2 div.contentBox2_img::after{
  content: '';
  position: absolute;
  width: 174px;
  height: 560px;
  background: url(../images/eucalyptus2.png) no-repeat center;
  display: block;
  right: -40%;
  top: 0px;
  z-index: -1;
}

div.contentBox2_img p{
  position: absolute;
  top: 0px;
  right:-90px;
  /* font-size: 30px; */
  font: normal 15px 'yg-jalnan';
  font-weight: bold;
  color: #d0cfcc;
  transform: rotate(270deg) translateX(-40%) ;
}
div.contentBanner{
  width: 100%;
  height: 800px;
  background: url(../images/main_banner_01.png) no-repeat center;
  margin-bottom: 100px;
}
div.contentInner{
  width: 415px;
  height: 540px;
  /* background-color: blue; */
  padding-top: 85px;
  margin-left: 450px;
}
p.contentBanner_Tit{
  font: bold 24px 'Nanum Myeongjo';
  color: #575757;
  text-align: right;
}
p.contentTitle{
  font: bold 100px 'Nanum Myeongjo';
  color: #333333;
  text-align: right;
}
p.subText{
  font: normal 27px 'Nanum Myeongjo';
  line-height: 40.5px;
  color: #424242;
  text-align: right;
}
div.contentInner span.arrowBtn{
  width: 94px;
  height: 18px;
  text-indent: -9999px;
  display: block;
  background: url(../images/main_arrowicon_01.png) no-repeat center;
  margin-top: 80px;
  margin-left: 315px;
  cursor: pointer;
}

/*productWrap*/

div.productWrap{
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  /* text-align: center; */
}
div.productWrap ul.productSlide{
 width: 100%;
 
}
div.productWrap ul.productSlide li{
  text-align: center;
  /* padding: 35px 0px;
  box-sizing: border-box; */
  float: left;
  width: 465px;
  height: 465px;
  position: relative;
 
}
div.productWrap ul.productSlide li a{
  display: block;
  width: 100%;
  padding-bottom: 74.2%;
  margin-top: 12.9%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
div.circle{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  background-color: #fbf9f5;
  /* background-color: coral; */
  border-radius: 50%;
  
}
div.productWrap ul.productSlide li.on div.circle{
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  animation-name: circleAni;
  animation-duration: 1s;
}

@keyframes circleAni{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
div.productWrap ul.productSlide p{
  /* padding: 24px 0px; */
  color: #000000;
  font: bold 20px 'Nanum Myeongjo';
}

/* div.productWrap ul.productSlide li img{
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 13.2% 0px;
  box-sizing: border-box;
} */
div.productWrap ul.productSlide li.item01 a{
  background-image: url("../images/main_product_01.png")
}
div.productWrap ul.productSlide li.item02 a{
  background-image: url("../images/main_product_02.png")
}
div.productWrap ul.productSlide li.item03 a{
  background-image: url("../images/main_product_03.png")
}
div.productWrap ul.productSlide li.item04 a{
  background-image: url("../images/main_product_01.png")
}
div.productWrap ul.productSlide li.item05 a{
  background-image: url("../images/main_product_02.png")
}
div.productWrap ul.productSlide li.item06 a{
  background-image: url("../images/main_product_03.png")
}


div.btn_Box{
  width: 400px;
  margin: 0px auto;
  margin-bottom: 170px;
}
  

span#prev_btn{
  display: inline-block;
  background: url(../images/prev_btn01.png) no-repeat center;
  width: 67px;
  height: 67px;
  float: left;
  cursor: pointer;
}
span#next_btn{
  display: inline-block;
  background: url(../images/next_btn01.png);
  width: 67px;
  height: 67px;
  float: right;
}
span#prev_btn:hover{
  background: url(../images/prev_btn02.png);
}
span#next_btn:hover{
  background: url(../images/next_btn02.png);
}

/*magzineWrap*/

div.magzineWrap{
  width: 100%;
  height: 745px;
  text-align: center;
  margin-bottom: 250px;
  
}
div.magazineBox{
  background: url(../images/main_magazine_banner_01.png) no-repeat center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
div.magazineInner{
  width: 1200px;
  margin: 0 auto;  
}
div.magazineBox ul li{
  display: block;
  text-align: center;
  float: left;
  width: 345px;
  height: 450px;
  background-color: #ffffff;
  margin: 100px 27.5px;
  padding-top: 15px;
  position: relative;
}
p.magazine_Tit{
  float: left;
  margin-left: 35px;
  padding-bottom: 15px;
  display: inline-block;
  font: 400 30px 'Lato';
}
p.magazine_Tit2{
  width: 90px;
  float: right;
  margin-right: 35px;
  margin-top: 2px;
  font: 10px 'yg-jalnan';
}
p.magazine_Tit3{
float: right;
margin-right: 35px;
font: 7px 'yg-jalnan';
}
p.magazine_Content{
  margin: 32px 0px;
  font: normal 16px 'Noto Sans KR'
}
div.magazine_bg{
  width:345px; 
  height:470px; 
  position:absolute; 
  left:0px; 
  top:0px; 
  background:rgba(0,0,0,0.8);
  text-align:center; 
  color:#eeeeee; 
  line-height:470px;
  cursor: pointer;
  font-size: 18px;
}

/*reviewWrap*/

div.reviewWrap{
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
div.reviewBox{
  width: 1024px;
  height: 600px;
  margin: 0px auto;
}
div.reviewWrap ul li{
  text-align: center;
  float: left;
  margin-left: 75px
}
p.reviewTitle{
  font: bold 22px 'Iropke Batang';
  padding: 30px 0px;
}
p.reviewName{
  font: 16px 'Noto Sans KR';
  text-align: center;
}
span.star{
  position: relative;
  padding-right: 15px;
  margin-left: 5px; 
  border-right: solid 1px #dddddd;
  margin-right: 10px;
}
span.star:before{
  content: "★";
  display: inline-block;
  line-height: 1;
  color: #c14b4b;
  margin-right: 5px;
  font-size: 18px;
}
p.reviewText{
  color: #666666;
  font: normal 16px 'Noto Sans KR';
  padding: 20px 10px;
  margin-bottom: 40px;
}
div.reviewbtn_Box{
  box-sizing: border-box;
  width: 230px;
  margin: 0 auto; 
}
.reviewBtn{
  width: 225.28px;
  height: 60px;
  color: #ffffff;
  background-color: #BBA386;
  padding: 20px 40px;
  margin: 0 auto;
}

/*footerWrap*/


.footerWrap{
  background-color: black;
  width: 100%;
  height: 312px;
}
.footerInner{
  width: 1200px;
  height: 172px;
  margin: 0px auto;
}
div.logo img{
  margin: 35px 0px;
}
div.fBottom p{
  height: 27px;
  display: block;
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  word-break: keep-all;
}
div.fBottom > p > span{
  float: left;
  display: block;
  position: relative;
  width: auto;
  padding: 0 20px;
  color: #888;
  font: 16px 'Noto Sans KR';
}
div.fBottom > p span:before{
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  border-right: solid 1px #dddddd;
  height: 50%;
  background: #767676;
  opacity: .5;
}
div.fBottom > p span:after{
  content: "";
  display: block;
  clear: both;
}
div.copyright{
  width: 830px;
  height: 23px;
}
div.copyright span{
  float: left;
  display: block;
  color: #888;
  font: 14px 'Noto Sans KR';
  font-weight: 400;
  margin-top: 30px;
}
div.footerpage > p > span {
    float: right;
    position: relative;
    width: auto;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
}
span.border:first-child{
  border-right: none;
}
div.footerpage > p span{
  display: block;
  position: relative;
  width: auto;
  padding: 0 20px;
  color: #888;
  font: 14px 'Noto Sans KR';
}
div.footerpage > p span:before{
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  border-right: solid 1px #dddddd;
  height: 50%;
  background: #767676;
  opacity: .5;
}
div.footerpage > p span:after{
  content: "";
  display: block;
  clear: both;
}
div.footerpage > p span:hover{
  color: #fff;
}
div.fBottom p span:first-child:before{
  display: none;
}
div.fBottom > p > span.border{
  padding-left: 0px;
}
div.footerpage p span:last-child:before{
  display: none;
}
div.footerpage > p > span.border{
  padding-left: 0px;
} 



/* 미디어쿼리 시작 */


@media screen and (max-width : 1400px){

  div.headerWrap,div.headerInner,div.productWrap,div.contentBanner.div.magazineInner,
  div.magazineBox ul,div.content01Wrap
  {
    width: 100% ;
  }
  div.headerWrap{
    padding:0px;
  }
  nav.gnb{
   display: none;
  }
  nav.mobileNav{
    display: block;
  }
  div.mobileBtn{
    display: block;
  }
  div.mobileBtn{
    margin-top: -60px;
  }
  nav.mobileNav{
    padding-top: 0;
    /* margin-top: -60px; */
  }
  div.contentInner{
    margin-left: 13.57%;
  }
}

@media screen and (max-width : 1280px){
  div.headerWrap,div.headerInner,ul.productSlide,div.contentBanner,div.magazineInner
  ,div.magazineBox ul,div.footerWrap,div.footerInner,div.logo,div.fBottom,div.copyright,div.footerpage 
  {
    width: 100% ;
  }
  div.headerWrap{
    padding:none
  }
  div.headerInner{
    margin: 0px;
  }
  nav.gnb{
   display: none;
  }
  nav.mobileNav{
    display: block;
  }
  div.mobileBtn{
    display: block;
  }
  div.mobileBtn{
    margin-top: -60px;
  }
  nav.mobileNav{
    padding-top: 0;
    /* margin-top: -60px; */
  }

  div.contentBox2{
    margin-right: 0px;
  }
  .contentBox1 div.contentBox1_img::after{
    display: none;
  }
  .contentBox2 div.contentBox2_img::after{
    display: none;
  }
  div.contentBox1_img p{
    top:20px;
    left:-40px;
  }
  div.contentBox2_img p{
    top:20px;
    right:-40px;
  }
  div.magazineInner{
    margin-left: 33px;
  }
 
  
}

@media screen and (max-width : 1024px){
  div.magazineBox ul,div.footerWrap,div.footerInner,div.logo,div.fBottom,div.copyright,div.footerpage{
    width: 100%;
  }
  ul.productSlide li img{
    width: 100%;
  }
  

  nav.gnb{
   display: none;
  }
  nav.mobileNav{
    display: block;
  }
  div.mobileBtn{
    display: block;
  }
  div.mobileBtn{
    margin-top: -60px;
  }
  nav.mobileNav{
    padding-top: 0;
    /* margin-top: -60px; */
  }
  /* div.content01Inner{
    margin: 0px 15px;
  } */
  div.magazineBox ul li{
  width: 33.69%;
  height: 43.94%;
  }
  ul.magazineImg{
  width: 26.56%;
  height: 26.37%;
  }
  /* .div.footerInner{
  text-align: center;} */
}
@media screen and (max-width : 768px){
  /* div.content01Inner,div.contentBox1,div.contentBox2,div.reviewBox{
    width: 100%;
  } */
}






















